.nav-container {
  width: 100%;
  background-color: darkgrey;
}

.nav-title {
  font-size: 24px;
  padding: 2%;
  font-weight: bold;
}

.table-employees {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.th-container {
  display: flex;
  margin: 10px;
}

.th-container>div {
  width: 20%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}

.tb-content {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.tb-row {
  display: flex;
  margin: 5px;
}

.tb-row>div {
  width: 20%;
  text-align: center;
}

.employee-add {
  border: 1px solid black;
}

.add-form {
  padding: 1%;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.add-form>input {
  height: 30px;
}

.add-form>* {
  margin: 1%;
}

.add-form>button {
  width: 25%;
  margin: auto;
}